*{
    font-family: 'Times New Roman', Times, serif;
}
.container{
    width: 50%;
    /* margin: 0 auto; */
    border: 1px solid;
}
.container:after{
    content: '';
    display: block;
    clear: both;
}